body{
    text-align: center;
}
/* NAVBAR */

ul{
 margin-right: 50px;
}
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin: 0 20px;
}
.logo-img{
   width: 30%;
}
.nav{
    background-color: #121212;
}
nav i {
    transform: scale(1);
}
/* CLOCK TOWER IMAGES AND HEADINGS */

.heading-intro{
    font-family: 'Montserrat', sans-serif;
    color: azure;
    animation: UpSmall 2s ease-in-out 0s 1 normal forwards;
}

.left{
 position: absolute;
 left: 0;
 z-index: -1;
 animation: leftIn 3.5s ease-in-out 0.1s normal forwards; 
 opacity: 0;
}
.clock{
    position: relative;
    left: 15px;
margin: 0 auto;
animation: appearIn 1.5s ease-in-out 1s normal forwards;
opacity: 0;
}
.right{
position: absolute;
right: 0;
z-index: -1;
animation: rightIn 3.5s ease-in-out 0.1s normal forwards; 
opacity: 0;
}


/* ANIMATIONS */


@keyframes leftIn{
    from{
        transform: translateX(-120px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightIn{
    from{
        transform: translateX(120px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes appearIn {
0%{
    opacity: 0;
    
  }
  100%{
    opacity: 1;
  
  }
}

@keyframes UpSmall{
 0%{
  font-size: 1rem;
  transform: translateY(350px);
 }
 100%{
    font-size: 3rem;
    transform: translateY(50px);
 }

}

/* ABOUT US */

.about-img{
     width: 90%;
     margin: 10% 5% 1% ;
}


.card-head{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F4CE2F;
 width: 400px;
 height: 80px;
 opacity: 0.78;
 border-radius: 15px;
 font-size: 2.7rem;
 margin: 15% auto 0;
 font-family: 'Montserrat', sans-serif;
 z-index: 3;
 color: #3D3D3D;
}
span{
    margin: 9% auto 0;
}
 
em{
    font-size: 1.3rem;
    color: azure;
}

.card-about-body{
    width: 550px;
    height: 460px;
    opacity: 0.8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #424242;
    color: #bebdbd;
    padding: 0 5%;
    margin: -5.5% auto;
}

/* Features */







/* PROJECTS */

#projects{
    background-color: #242424;
    padding: 2% 5% ;   
}

.heading-project{
  margin: 0 auto 4%;
  font-size: 5rem;
  color: azure;
  font-family: 'Montserrat', sans-serif;
}

.circle{
    width: 45%;
    margin: 8% auto;
}

.circle:hover {
   filter: drop-shadow(0 0 0.5rem #b1afaf);
}

.project-card-shape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #bebdbd;
    padding: 5% 9%;
    margin: 4%;
}
h4{
    color: azure;
}


/* CONTACT US */


#contact{
 padding: 2% 10% ; 
}


/* FORM */


.form-card{
    display: flex;
    flex-direction: column;
    padding: 0.5% 9% 2%;
    background-color: #252525;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}

.form-name, .form-email{
    background-color: #616161;
    width: 100%;
    height: 60px;
    opacity: 0.78;
    border-radius: 15px;
    font-size: 1.1rem;
    border: none;
    margin: 2% auto;
    padding: 2%;
}
.contact-head-div{
    display: flex;
    justify-content: center;
    margin: 2% auto 5%;
}
.contact-image{
    width: 5%;
    animation: contactpop .8s ease-in-out .2s iteration-count direction fill-mode;
}
.contact-heading{
    display: inline-block;
  font-size: 5rem;
  color: azure;
  font-family: 'Montserrat', sans-serif;
}

.form-message{
    width: 100%; 
    background-color: #616161;
    border: none; 
    border-radius: 15px;
    color: rgb(161, 161, 161);
    padding: 2%;
    font-size: 1.1rem;
    margin: 2% auto;
    opacity: 0.78;
}

input[type="text"], input[type="email"], textarea, select { 
    outline: none;
}

.submit-button{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F4CE2F;
 width: 200px;
 height: 50px;
 opacity: 0.8;
 border-radius: 50px;
 font-size: 2.2rem;
 margin: -4% auto;
 font-weight: lighter;
 cursor: pointer;
}
.submit-button:hover{
    opacity: 1;
}
::placeholder{
    color: rgb(171, 171, 171);
}
/* Location and other info */

.info{
    width: 100%;
}
p{
    color: rgb(197, 197, 197);
}
i{
    color: rgb(197, 197, 197);
    transform: scale(3);
}
i:hover{
    color: #fff;
}
.info-card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}